# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.proto-includes

# Node dependencies
node_modules

# Python build/test artifacts
__pycache__
*.py[cod]
*.egg-info

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
